body{
    background-color: aqua;
}

h1{
    text-align: center;
    background-color: rgb(88, 88, 88);
    font-size: 40px;
}


#style{
    background-color: rgb(88, 88, 88);
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    position:relative;
}

#bt01{
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 34px;
    font-family:serif;
}